<!DOCTYPE html>
<html lang="en">
  <!--require HEAD -->
  <body>
    <!--require MENU-->
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h2>Про компанію</h2>
            <p>Ми уже декілька років працюємо для Вас: знаходимо найкращі товари та надаємо Вам змогу купити їх у нас. Замовляйте шапочки для дітей
      і дорослих. До вашої уваги Ми пропонуємо гігантський асортимент головних уборів від Українських та іноземних виробників за чудовими цінами! Новинки-перлинки у кожному сезоні гарантовано! Продаж лише ОПТОМ(у пачках). Мінімальна сума замовлення складає 500 грн.</p>
          </div>
          <div class="jumbotron">
            <h2>Відомості про компанію</h2>
            <p><b>Контактна інформація</b>
      <br>Представник: <em>Роксолана</em><br>Сайт компанії:<em>http://www.kr_mutzen_from_ua.com</em>
      <p><b>Загальна інформація</b>
      <br>Назва: <em>KR Company</em><br>Телефон:<em>0938782776</em><br>e-mail:<em>mosevich@mail.ru</em>
      
      </p>
          </div>    
    </div><!--/.col-xs-12.col-sm-9-->
    

        <!--require NAV-->
      </div><!--/row-->

      <!--req Footer-->
    
    </div><!--/.container-->


   <!--req links-->
  </body>
</html>
