<!DOCTYPE html>
<html lang="en">
HEAD
<!--HEADer-->
  <body>
    upMENU
    <!--upMENU-->
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h2>Контактна інформація компанії KR Company</h2>
            <p><b>Контактна інформація</b>
			<br><br>Назва: <em>KR Company</em>
			<br><br>Представник: <em>Роксолана</em>
			<br><br>Телефон:<em>0938782776</em>
			<br><br>e-mail:<em>mosevich@mail.ru</em>
			</p>
          </div>		
		</div><!--/.col-xs-12.col-sm-9-->
		

    NAV HERE
    <!--NAV-->	
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

   FOOTER
   <!--footer-->
		
    </div><!--/.container-->
LINKS
<!--links-->
  </body>
</html>
