<!DOCTYPE html>
<html lang="en">
<!--require HEAD -->
  
  <body>
    <!--require MENU -->
  
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h2>Умови доставки та оплати</h2>
            <p>
            <b>Доставка відбувається тільки з передоплатою.</b>
            <br>
            <p><b>Способи доставки:</b><h4><em><ul>
            <li>Самовивезення</li>
            <li>Доставка кур'єром</li>
            <li>Доставка поштою</li>
            <li>Транспортна компанія</li>
            <li>Нова пошта</li>
            </em></ul></h4></p>
            
            <p><b>Способи оплати:</b><h4><em><ul>
            <li>Готівка</li>
            <li>Безготівковий розрахунок</li>
            <li>Накладний платіж</li>
            </em></ul></h4></p>
            
            <p><b>Регіони доставки:</b><h4><em><ul>
            <li>Вся Україна</li>
            </em></ul></h4></p>
      
            <p><b>Додаткова інформація щодо відправлення товарів:</b><h4><ul>
            <br>
            Шановні клієнти, оскільки Ми працюємо тільки з оптовим замовленням товарів, сума покупки повинна бути не менше ніж
            <b>500</b> грн. На великі замовлення існують знижки(зі збільшенням кількості замовленого товару ціна сьогодні
            для Вас знижується). <b>Оплату</b> може бути здійснено як <b>на картку(наприклад, ПриватБанку)</b>, так і <b>накладним(наложним) платежем.</b>
            Якщо ви обираєте накладений платіж, <b>ви повинні здійснити передоплату на карту одержувача(Коблик Роксолана Миколаївна)
            в розмірі 200 грн.</b> Пишіть, телефонуйте. Будемо раді співпраці!<br><br>З повагою, Роксолана
            
            </em></ul></h4></p>
          </div>    
    </div><!--/.col-xs-12.col-sm-9-->
    

        <!--require NAV -->
  
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

    <!--req FOOTER-->
    
    </div><!--/.container-->

<!--req links-->
  </body>
</html>
