<div class="row">
            <div class="col-xs-6 col-lg-4">
              <h3>Шапка "клітинка"</h3>
              <img width='250px' height='250px' src='img/a.jpg' alt='Ваш браузер не підтримує картинки'/>
			         <p>56 грн|В наявності|Тільки оптом|Д87</p>
              <p><a class="btn btn-default" href="#" role="button">Детальніше &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h3>Шапка "червона а5"</h3>
              <img width='250px' height='250px' src='img/b.jpg' alt='Ваш браузер не підтримує картинки'/>
			         <p>56 грн|В наявності|Тільки оптом|Д12</p>
              <p><a class="btn btn-default" href="#" role="button">Детальніше &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h3>Шапка "сірий бонбон"</h3>
              <img width='250px' height='250px' src='img/c.jpg' alt='Ваш браузер не підтримує картинки'/>
			        <p>56 грн|В наявності|Тільки оптом|Д12</p>
              <p><a class="btn btn-default" href="#" role="button">Детальніше &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h3>Шапочка "бонбон а3"</h3>
              <img width='250px' height='250px' src='img/d.jpg' alt='Ваш браузер не підтримує картинки'/>
			         <p>56 грн|В наявності|Тільки оптом|Д22</p>
              <p><a class="btn btn-default" href="#" role="button">Детальніше &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h3>Шапочка "бонбон"</h3>
              <img width='250px' height='250px' src='img/e.jpg' alt='Ваш браузер не підтримує картинки'/>
			         <p>56 грн|В наявності|Тільки оптом|Д43</p>
              <p><a class="btn btn-default" href="#" role="button">Детальніше &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h3>Шапочка "KC"</h3>
              <img width='250px' height='250px' src='img/f.jpg' alt='Ваш браузер не підтримує картинки'/>
      			  <p>56 грн|В наявності|Тільки оптом|Д12</p>
              <p><a class="btn btn-default" href="#" role="button">Детальніше &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
          </div><!--/row-->