 <div class="row margin-twenty5-zero margin-b-zero pagination-row">
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero">
    <center><h3><ul class="pagination">
    <li class="disabled"> <%= will_paginate(@products,:previous_label => "&laquo; Назад", :next_label => "Вперед &raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0) %></li>
    </ul></h3></center>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 pagination-info">
    <span class="pull-right"><%= page_entries_info(@products) %></span>
    </div>
    </div>