          <div class="row"><div class="col-sm-5">
            <h2>Про компанію</h2>
            <p class="justi">Ми уже декілька років працюємо для Вас: знаходимо найкращі товари та надаємо Вам змогу купити їх у нас. Замовляйте шапочки для дітей
      і дорослих. До вашої уваги Ми пропонуємо гігантський асортимент головних уборів від Українських та іноземних виробників за чудовими цінами! Новинки-перлинки у кожному сезоні гарантовано! Продаж лише ОПТОМ(у пачках). Мінімальна сума замовлення складає 500 грн.</p>
          </div>
          <div class="col-sm-2">
          </div>
          <div class="col-sm-5">
            <h2>Відомості</h2>
            <p class="justi"><b>Контактна інформація</b>
      <br>Представник: Роксолана<br>Сайт компанії: <a href="http://shapki.herokuapp.com">shapki.herokuapp.com</a>
      <p><b>Загальна інформація</b>
      <br>Назва: R&A Company<br>Телефон: +380938782776<br>e-mail: <a href="mailto:mosevich@mail.ua#">mosevich@mail.ua</a>
      </p>
          </div>
          </p></div>