          <div class="jumbotron">
            <h2>Про компанію</h2>
            <p>Ми уже декілька років працюємо для Вас: знаходимо найкращі товари та надаємо Вам змогу купити їх у нас. Замовляйте шапочки для дітей
      і дорослих. До вашої уваги Ми пропонуємо гігантський асортимент головних уборів від Українських та іноземних виробників за чудовими цінами! Новинки-перлинки у кожному сезоні гарантовано! Продаж лише ОПТОМ(у пачках). Мінімальна сума замовлення складає 500 грн.</p>
          </div>
          <div class="jumbotron">
            <h2>Відомості про компанію</h2>
            <p><b>Контактна інформація</b>
      <br>Представник: <em>Роксолана</em><br>Сайт компанії:<em>http://www.shapo4ki.com</em>
      <p><b>Загальна інформація</b>
      <br>Назва: <em>R&A Company</em><br>Телефон:<em>+380938782776</em><br>e-mail:<em>mosevich@mail.ua</em>
      </p>
          </div>