
          <div class="jumbotron">
            <h2>Контактна інформація компанії KR Company</h2>
            <p><b>Контактна інформація</b>
			<br><br>Назва: <em>KR Company</em>
			<br><br>Представник: <em>Роксолана</em>
			<br><br>Телефон:<em>0938782776</em>
			<br><br>e-mail:<em>mosevich@mail.ru</em>
			</p>
          </div>		
