            <p>
                  Умови доставки та оплати
            </p>
          <div class="row">
      
            <p>
                  <b>Доставка відбувається тільки з передоплатою.</b>
                  <br>
      <div class="col-sm-5">
                  <p><b>Способи доставки: </b><br>                        
                  Самовивезення<br>
                  Доставка кур'єром<br>
                  Доставка поштою<br>
                  Транспортна компанія<br>
                  Нова пошта<br>
                  </p>
      </div>
      <div class="col-sm-2">
      </div>
      <div class='col-sm-5'>
            <p>
            <b>Способи оплати: </b><br>
                  Готівка<br>
                  Безготівковий розрахунок<br>
                  Накладний платіж<br>
            </p>
            <p>
                  <b>Регіони доставки: </b><br>
                  Вся Україна
            </p>
      </div>
      <div class='col-sm-10 justi'>
      <p>
            <b>Додаткова інформація щодо відправлення товарів:</b>
            <p>
            <br>
            Шановні клієнти, оскільки Ми працюємо тільки з оптовим замовленням товарів, сума покупки повинна бути не менше ніж
            <b>500</b> грн. На великі замовлення існують знижки(зі збільшенням кількості замовленого товару ціна сьогодні
            для Вас знижується). <b>Оплату</b> може бути здійснено як <b>на картку(наприклад, ПриватБанку)</b>, так і <b>накладним(наложним) платежем.</b>
            Якщо ви обираєте накладений платіж, <b>ви повинні здійснити передоплату на карту одержувача(Коблик Роксолана Миколаївна)
            в розмірі 200 грн.</b> Пишіть, телефонуйте. Будемо раді співпраці!<br><br>З повагою, Роксолана
            <br>
            </p>
      </p>
      </div>
</div>