<h2>Запитання та відповіді</h2>
<div class="col-sm-10 justi">         
    <p><span class='question_faq'>Мінімальна сума покупки?</span><br>
  У нас на сайті можна здійснити оптове  замовлення від 500 грн. І В розділі "Роздріб" можна придбати шапочку від 1 штучки.
  </p>
</div>
<div class="col-sm-10 justi">         
    <p><span class='question_faq'>Як здійснити замовлення телефоном?</span><br>
  Подзвоніть за номером і здійсніть замовлення від 500 грн.
  </p>
</div>

<div class="col-sm-10 justi">         
    <p><span class='question_faq'>Яким способом відправляються і оплачуються замовлення?</span><br>
    Якщо ви зробили своє замовлення до 11:30 дня і всі обрані вироби є на складі, то обраний товар відправляється в той самий день Новою Поштою. Переводи приймаються на карту компанії або наложеним платежем.
	Для нових покупців, які замовляють  у нас наложеним платежем ― передоплата на карту 200 грн. Дякую за розуміння.
  </p>
</div>
 <div class="col-sm-10 justi">
    <p><span class='question_faq'>Чи можна придбати шапочку на вашому сайті у роздріб?</span><br>
    Є деякі шапочки, які можливо купити вроздріб. Їх ціна вища за оптову на 20 грн. Заходьте в розділ "Роздріб". Тут ви можете купити шапочки від 1 штуки без необхідної мінімальної суми замовлення.
  </p>
</div>
<div class="col-sm-10 justi">         
    <p><span class='question_faq'>Чи можна купляти товари з сайту одночасно з розділів Опт і Роздріб?</span><br>
  Ні, бо на опт і на роздріб є різні постачальики з різних міст. 
  </p>
</div>