<h2>Запитання та відповіді</h2>
<div class="jumbotron">         
    <p><em>Мінімальна сума покупки?</em><br>
  У нас на сайті можна здійснити замовлення від 500 грн.
  </p>
</div>
<div class="jumbotron">         
    <p><em>Як здійснити замовлення телефоном?</em><br>
  Подзвоніть за номером і здійсніть замовлення від 500 грн.
  </p>
</div>