<h2>Відгуки</h2>
<div class="jumbotron">         
    <p><em>Антоніна, 45 років, Дніпропетровськ</em><br>
  О, Роксолана, дякую вам за велич вашого обслуговування. Ви найкращий продавець, яких я коли-небудь зустрічала!
  </p>
</div>
<div class="jumbotron">         
    <p><em>Юля, 23 роки, Львів</em><br>
  Роксолана, дякую вам . Ви чудовий продавець.
  </p>
</div>
<div class="jumbotron">         
    <p><em>Ірина, 31 рік, Київ</em><br>
  Дуже хороша продавець. Молодець. Продовжуйте в тому ж дусі.
  </p>
</div>