.cap_img {
	width: auto;
	max-width: 150px;
	height: auto;
	height: 150px;
}

.about_img {
	width: auto;
	max-height: 300px;
	height: 300px;
}
.red{color:red;}
.green{color:green;}

.productname{
	height: 25px;
	 vertical-align: middle;
}

.justi{
	text-align: justify;
}
.question_faq{
	font-size:20px;
	margin-bottom:20px;
}
.stable_position{
	margin:0px;
	padding:0px;	
}
.right_side{
	float: left;
	clear:both;
}