<h1>Вибачте, друзі</h1>
<h2>Але автентифікація не призначена для користувачів. Якщо ви не адміністратор, не натискайте кнопку "Увійти".</h2>

<h2 class='red'>Сайт ще на стадії розробки. Можливо в майбутньому тут буде реєстрація.</h2>
