<h2><%= @goods_group.name %></h2>
<% if @products.empty? %>
	<p>В данній категорії товарів не знайдено</p>
<% else %>
	<%= render 'layouts/items' %>
<% end %>
<!--WARNING! PAGINATION!!!PAGINATION!!!PAGINATION!!!PAGINATION!!!PAGINATION!!!-->
<%= render 'pagin' %>
