<h1><%= @goods_groups.name %>
 <%= link_to 'Перейти до усіх записів', goods_groups_path %></h1>
<div class="col-xs-6 col-lg-4">
    <%= link_to 'Редагувати', edit_goods_group_path(@goods_groups) %>
    <%= link_to 'Знищити запис', goods_group_path(@goods_groups), method: :delete, data: {confirm: 'Роксолано, ви впевнені, що бажаєте знищити цей запис?'} %>
    </p>
</div><!--/.col-xs-6.col-lg-4-->