<h1>Усі групи товарів <%= link_to 'Додати новий тип товару', new_gender_path %></h1>
  <% @gender.each do |gender| %>
<div class="col-xs-6 col-lg-4">
  <h3><%=gender.gender_name %></h3>
    <%= link_to 'Редагувати', edit_gender_path(gender) %>
    <%= link_to 'Знищити запис', gender_path(gender), method: :delete, data: {confirm: 'Роксолано, ви впевнені, що бажаєте знищити можливість додавання одягу даного типу?'} %>
</div><!--/.col-xs-6.col-lg-4-->
<% end %>
              	