<hr>
		<center><a href='http://www.vk.com/'>Підписуйтеся на нашу групу Вконтакті</a>
		  
		<footer>
        <p>&copy; 2016 Koblyk Roksolana, Internet-shop</p>
		<br><a href="index.html"><img width='60px' height='60px' src='../../assets/KR.png'/></a>
      </footer>
