<hr>
		<center><a href='https://new.vk.com/shapochki_dla_vsich'>Підписуйтеся на нас ВКонтакті</a>
		<footer>
        <p>&copy; 2016 R&A, Internet-shop</p>
		<br><a href="<%= root_path%>"><img width='auto' height='60px' src="<%= image_path('KR.png')%>"/></a>
      </footer>
