<hr>
		<center><a href='http://www.vk.com/alexmosevych'>Підписуйтеся на нас ВКонтакті</a>
		<footer>
        <p>&copy; 2016 R&A, Internet-shop</p>
		<br><a href="index.html"><img width='auto' height='60px' src="<%= image_path('KR.png')%>"/></a>
      </footer>
