<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
			<h1>+380938782776</h1>
			<p>Пошук по сайту</p>
			<a href="#" class="list-group-item active">Топ продажу</a>
            <a href="#" class="list-group-item">Виробник: Україна</a>
            <p><br>Головні убори:</p>
			<a href="#" class="list-group-item">Весна 2016(в'язані шапочки)</a>
            <a href="#" class="list-group-item">Весна 2016(трикотажні шапочки)</a>
            <a href="#" class="list-group-item">Шапки для молоді</a>
            <a href="#" class="list-group-item">Шапочки для дітей та підлітків</a>
            <a href="#" class="list-group-item">Шапочки для хлопчиків та дівчаток(зима 2016)</a>
            <a href="#" class="list-group-item">Шапки Чоловічі</a>
            <a href="#" class="list-group-item">Шапки Жіночі</a>
            <a href="#" class="list-group-item">Шарфи</a>
			<br>
			<a href="#" class="list-group-item">Про компанію</a>
			<a href="#" class="list-group-item">Відгуки</a>
			<a href="#" class="list-group-item">Запитання та відповіді</a>
			<a href="#" class="list-group-item">Контакти</a>
			<p>Телефон: 0938782776<br>
			Представник: Роксолана<br>
			E-mail: mosevich@mail.ru<br>
			<a href='#'>Графік роботи</a>
			</p>
          </div>
        </div><!--/.sidebar-offcanvas-->
