<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <a href="index.html"><img class="navbar-brand" src='../../assets/KR.png'/></a>
          <a href="index.html" class="navbar-brand" >Koblyk Roksolana</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Головна</a></li>
            <li class="active"><a href="headwears.html">Головні убори</a></li>
            <li><a href="about.html">Про компанію</a></li>
			<li><a href="contact.html">Контактна інформація</a></li>
            <li><a href="howtobook.html">Доставка і оплата</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
